version: 2.1

workflows:
  pipeline:
    jobs:
      - verify:
          context: org-global

jobs:
  verify:
    docker:
      - image: cimg/base:current
    steps:
      - checkout
      - run:
          # 1. retrieve release json
          # 2. retrieve cli binary url
          # 3. dwonload and install cli
          name: Download and Install GO Feature Flag CLI
          environment:
            REPO: "thomaspoignant/go-feature-flag"
            GOFF_VERSION: "1.51.0"
            BINARY_PATTERN: "go-feature-flag-cli_.*_Linux_x86_64.tar.gz$"
          command: |
            CLI_URL="https://github.com/${REPO}/releases/download/v${GOFF_VERSION}/go-feature-flag-cli_${GOFF_VERSION}_Linux_x86_64.tar.gz"
            
            if [ "$CLI_URL" == "null" ]; then
              echo "Unable to install GO Feature Flag CLI: Binary not found!"
              exit 1
            fi
            
            echo "Downloading cli from: $CLI_URL"
            curl -L "$CLI_URL" --output release.tar.gz
            tar -zxvf release.tar.gz go-feature-flag-cli
            rm release.tar.gz
      - run:
          # Lint each goff.yaml file in root directory  using GOFF CLI
          name: Lint Feature Flags
          command: |
            for file in *.goff.yaml; do
            if [ -f "$file" ]; then
              echo "Checking $file..."
              ./go-feature-flag-cli lint "$file" --format=yaml
            fi
            done