version: 2.1

workflows:
  pipeline:
    jobs:
      - verify:
          context: org-global

jobs:
  verify:
    docker:
      - image: cimg/base:current
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: Lint Feature Flags
          command: |
            for file in *.goff.yaml; do
              [ -e "$file" ] || continue
              cat "$file" | docker run --rm -i gofeatureflag/go-feature-flag-cli lint - --format=yaml
            done