version: 2.1

workflows:
  pipeline:
    jobs:
      - verify:
          context: org-global

jobs:
  verify:
    docker:
      - image: gofeatureflag/go-feature-flag-cli:latest
        entrypoint: ["/bin/sh", "-c"]
    steps:
      - checkout
      - run:
          name: Lint Feature Flags
          command: |
            for file in *.goff.yaml; do
              [ -e "$file" ] || continue
              /app/go-feature-flag-cli lint "$file" --format=yaml
            done