version: 2.1

workflows:
  pipeline:
    jobs:
      - verify:
          context: org-global

jobs:
  verify:
    docker:
      - image: cimg/base:current
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: Lint feature flags
          command: |
            docker run -d --name linter --rm --entrypoint tail gofeatureflag/go-feature-flag-cli -f /dev/null

            for file in *.goff.yaml; do
              [ -e "$file" ] || continue
              echo "Processing $file..."

              docker cp "$file" linter:/tmp/"$file"

              docker exec linter /app/go-feature-flag-cli lint /tmp/"$file" --format=yaml
            done
            docker stop linter