version: 2.1

workflows:
  pipeline:
    jobs:
      - verify:
          context: org-global

jobs:
  verify:
    docker:
      - image: cimg/base:current
    steps:
      - checkout
      - run:
          name: Download and Install GO Feature Flag CLI
          command: |    
            URL=$(curl -s https://api.github.com/repos/thomaspoignant/go-feature-flag/releases | jq -r '[.[] | select(.tag_name | test("^v[0-9]"))][0].assets[] | select(.name | contains("Linux_x86_64.tar.gz")) | .browser_download_url')
            echo "Downloading from: $URL"
            curl -L "$URL" --output release.tar.gz
            tar -zxvf release.tar.gz
      - run:
          name: Lint Feature Flags
          command: |      
            for file in *.goff.yaml; do
            if [ -f "$file" ]; then
              echo "Checking $file..."
              ./go-feature-flag-cli lint "$file" --format=yaml
            fi
            done