version: 2.1

workflows:
  pipeline:
    jobs:
      - verify:
          context: org-global

jobs:
  verify:
    docker:
      - image: cimg/base:current
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: Lint feature flag configs
          command: |
            for file in ./*.goff.yaml; do
              if [ -f "$file" ]; then
                echo "Linting $file..."
                docker run --rm \
                  -v "$PWD":/data \
                  gofeatureflag/go-feature-flag-cli \
                  lint "/data/$file" --format=yaml
              fi
            done